@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Karla:wght@600;700;800&display=swap');
.whatsapp{
	background-color: #4FCE5D !important;
	color: white !important;
}
.whatsapp i{
	color: white !important;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: #f7f1e3;
}
*{
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
	color: #322E2B;
}
.row{
	width: 100%;
	margin: 0;
}
.content-wrapper{
	/*max-width: 1170px;*/
	margin: 0 auto;
}

/* BURGER ICON */

.burger-menu{
	position: fixed;
	font-size: 18pt;
	background-color: #F9F7AD;
	border: 1px solid #050200;
	/* box-shadow: -6px -6px 10px rgba(47, 69, 98, 0.8), 6px 6px 10px rgba(8, 27, 51, 1); */
	border-radius: 10px;
	color: #322E2B;
	width: 40px;
	height: 40px;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

/* CLOSE ICON */

.close{
	position: fixed;
	font-size: 18pt;
	background-color: #F9F7AD;
	border: 1px solid #050200;
	/* box-shadow: -6px -6px 10px rgba(47, 69, 98, 0.8), 6px 6px 10px rgba(8, 27, 51, 1); */
	border-radius: 10px;
	color: #322E2B;
	width: 40px;
	height: 40px;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
	display: none;
	justify-content: center;
	align-items: center;
	opacity: 1 !important;
}

/* SIDEBAR */

.sidebar{
	position: fixed;
	width: 300px;
	height: 100vh;
	background-color: #f7f1e3;
	float: left;
	z-index: 1;
}
.sidebar .text-center{
	margin-top: 18px
}
.sidebar .profile-img{
	width: 128px;
	height: 128px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.sidebar .profile-img img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
	object-fit: cover;
}
.sidebar .name-user{
	font-family: 'Karla', sans-serif;
	font-weight: 800;
	color: #322E2B;
	font-size: 16pt;
}
.sidebar .navbar{
	display: flex;
	width: 100%;
	height: 330px;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.sidebar .navbar ul{
	width: 100%;
	text-decoration: none;
	list-style: none;
	padding: 0;
}
.sidebar .navbar ul li{
	height: 40px;
	width: 100%;
}
.sidebar .navbar ul li a{
	position: relative;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	color: #322E2B;
	font-size: 12pt;
}
.sidebar .navbar ul li a::before {  
	transform: scaleX(0);
	transform-origin: bottom right;
}
.sidebar .navbar ul li a:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.sidebar .navbar ul li a:hover{
	color: #F9F7AD;
	text-decoration: none;
}
.sidebar .navbar ul li a::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	inset: 0 0 0 0;
	background: #322E2B;
	z-index: -1;
	transition: transform .4s ease;
}
.sidebar .footer{
	position: absolute;
	bottom: 0;
	margin-bottom: 12px;
	width: 100%;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
    text-align: center;
    color: #322E2B;
    
}
.fa-facebook:hover{
	color: #007bff;
}
.fa-whatsapp:hover{
	color: #28a745;
}
.fa-twitter:hover{
	color: #17a2b8;
}
.fa-instagram:hover{
	color: #dc3545;
}
.sidebar .footer small{
	font-size: 8pt;
    color: #322E2B;
}

/* CONTENT */

.content{
	width: calc(100% - 300px);
  	float: right;
  	background: #f7f1e3;
  	color: #322E2B;
  	margin: 0;
}
.container-fluid{
	padding:0 !important;
}
section h4{
	font-family: 'Karla', sans-serif;
	font-weight: 800;
	font-size: 20pt;
}
section h6{
	font-family: 'Inconsolata', monospace;
	/* font-family: 'Karla', sans-serif; */
	font-weight: 400;
	font-size: 16pt;
	color: #322E2B;
}

/* HOMEPAGE SECT */

.home-page{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 80px;
	padding-right: 80px;
	min-height: 100vh;
}
.home-page h1{
	font-family: 'Karla', sans-serif;
	font-weight: 800;
	font-size: 24pt;
}
.home-page h3{
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
	font-size: 16pt;
}
.home-page .btn{
	margin-top: 20px;
	background-color: #F9F7AD;
	width: 150px;
	border-radius: 0px;
	border: 1px solid #050200;
	color: #322E2B;
	font-size: 12pt;
}

/* ABOUT SECT */

.about{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 80px;
	padding-right: 80px;
	min-height: 100vh;
}
.about p{
	margin-top: 20px;
	color: #322E2B;
	font-size: 11pt;
}
.about p strong{
	font-size: 12pt;
	color: #322E2B;
}

/* SKILL SECT */

.skill{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 80px;
	padding-right: 80px;
	min-height: 100vh;
}
.skill span{
	font-weight: 500 !important;
}
.skill .progress{
	height: 3px;
	border-radius: 100px;
}
.skill .progress .progress-bar{
	border: 1px solid #050200;
	background-color: #F9F7AD;
}

/* EXPERIENCE SECT */

.experience{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 80px;
	padding-right: 80px;
	min-height: 100vh;
}
.resume-box ul {
	margin: 0;
	padding: 30px 20px;
	list-style: none;
}
.resume-box li {
	position: relative;
	padding: 0 20px 0 60px;
	margin: 0 0 30px;
}
.resume-box li:last-child {
	margin-bottom: 0;
}
.resume-box li:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 20px;
	border-left: 1px dashed #050200;
	bottom: -30px;
}
.resume-box li:last-child:after{
	content: "";
	position: absolute;
	top: 0px;
	left: 20px;
	border-left: 0px dashed #050200;
	bottom: 0px;
}
.resume-box .icon {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0;
	right: 0;
	color: #322E2B;
	line-height: 40px;
	background: #f7f1e3;
	text-align: center;
	z-index: 1;
	border: 1px dashed;
	border-radius: 50%;
}
.resume-box .time {
	background: #F9F7AD;
	border: 1px solid #050200;
	color: #322E2B;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	font-size: 10px;
	padding: 2px 10px;
	display: inline-block;
	margin-bottom: 12px;
	border-radius: 20px;
}
.resume-box h5 {
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
	color: #322E2B;
	font-size: 16px;
	margin-bottom: 10px;
}
.resume-box p {
	margin: 0;
}

/* PORTOFOLIO SECT */

.portofolio{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 80px;
	padding-right: 80px;
	min-height: 100vh;
}
.portofolio .col-12{
	margin-top: 50px;
	margin-bottom: 20px;
}
.portofolio .col-md-4{
	margin-bottom: 20px;
}
.card{
	width: 100%;
	height: 230px;
	background-color: #f7f1e3;
	border: 1px solid #050200;
}
.card-image{
	height: 100%;
}
.card-image iframe{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* MOBILE RESPONSIVE */

@media only screen and (max-width: 768px) {
  	.sidebar{
		display: none;
		width: 100%;
		z-index: 2;
	}
	.content{
		width: 100%;
	  	float: none;
	}
	.home-page{
		text-align: center;
	}
	.home-page h3{
		font-size: 12pt;
	}
	.home-page h1{
		font-size: 18pt;
	}
	.home-page, .about, .experience, .skill, .portofolio{
		padding-left: 10px;
		padding-right: 10px;	
		padding-top: 10vh;
		padding-bottom: 10vh;
	}
	.skill .skill-card{
		width: 100%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
		margin-top: 10px;
	}
	.burger-menu{
		display: flex; 
	}
	.active{
		transition: all .3s ease-in-out;
		transform: translate(0%, 0px);
		-webkit-transform: translate(0%, 0px);
		-ms-transform: translate(0%, 0px);
		display: block;
	}
	.close-active{
		display: flex;
		z-index: 4;
	}
	.sidebar .navbar ul li a:hover{
	font-size: 12pt;	
	text-decoration: none;
	}
	.progress{
		display: none;
	}
	.skill span{
		font-size: 10pt;
	}
	.btn{
		margin-top: 5px !important;
		margin-bottom: 5px !important;
	}
}